<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="../css/style.css">
    <!--<script src="../js/blazy.js"></script>-->
    <!--<script src="../js/base.js" type="text/javascript"></script>-->
    <!--<script>-->

    <!--</script>-->
</head>
<body>
<h1>Dinh Van Nam nam dindfg fsd afdsf fsda fdf  fdsa fsdafd fsdfd fsda ffsda fsad  asfs afs h</h1>
<div class="ratio loading">
    <img class="b-lazy"
         sizes="100vw"
         data-src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
         data-srcset="../img/large.png 1024w, ../img/medium.png 640w, ../img/small.png 320w"  />
</div>


</div>
<script src="../js/blazy.js" type="text/javascript"></script>
<script src="../js/base.js" type="text/javascript"></script>
<script src="../../dist/js/index2.bundle.js" type="text/javascript"></script>
<script>

</script>
<!--<script class="b-lazy b-loaded" async="" src="script.js"></script>-->
</body>
</html>